<app-header>{{btnheader.disableButtonlogin()}}{{btnheader.disableAgent()}}</app-header>

<br><br>
<div class="container newuser">
    <mat-card><h1>Create User</h1></mat-card>
    <div class="container d-flex justify-content-center row userinfo">
        <form [formGroup]="Groupdata">
            <div class="form-group row">
                <mat-label class="col-lg-2">Name</mat-label>
                <mat-form-field appearance="outline" class="col-lg-6">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="Name">
                </mat-form-field>
                <ng-template>

                </ng-template>

            </div>

            <div class="form-group row">
                <mat-label class="col-lg-2">Mail Id</mat-label>
                <mat-form-field appearance="outline" class="col-lg-6">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="Email">
                </mat-form-field>
            </div>

            <div class="form-group row">
                <mat-label class="col-lg-2">Date of Birth</mat-label>
                <mat-form-field appearance="outline" class="col-lg-6">
                    <mat-label>DOB</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="form-group row">
                <mat-label class="col-lg-3">Gender </mat-label>
                <mat-radio-group aria-label="Select an option" class="col-lg-6" formControlName="Gender" >
                    <mat-radio-button value="M" class="" name="Gender" >Male</mat-radio-button>
                    <mat-radio-button value="F" class="offset-lg-2" name="Gender"  >Female</mat-radio-button>
                    <!-- <mat-radio-button *ngFor="let practice of ['Male','Female']" [value]="practice" > 
                        {{practice}}
                    </mat-radio-button> -->
                </mat-radio-group>
            </div>
            <br>
            <div class="form-group row">
                <mat-label class="col-lg-2">Mobile</mat-label>
                <mat-form-field appearance="outline" class="col-lg-6">
                    <mat-label>Mobile</mat-label>
                    <input matInput type="number" [maxlength]="10" formControlName="Mobile">
                </mat-form-field>
            </div>

            <div class="form-group row">
                <mat-label class="col-lg-2">Password</mat-label>
                <mat-form-field appearance="outline" class="col-lg-6">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="Password">
                </mat-form-field>
            </div>
            <div class="form-group row">
                <button class="btn btn-outline-primary col-lg-4" (click)="btnSubmit()">Register</button>
                <button class="btn btn-outline-primary col-lg-4 offset-lg-1" routerLink="/Login">Cancel</button>
            </div>
        </form>
    </div>
</div>