<div class="container-fluid">
    <!-- <app-image-slider></app-image-slider> -->
    <div class="header">
        <app-header [itemscount]="watchingvalues()"></app-header>
    </div>
    <br>
    <br>


    <app-search-products class="searchproduct" (emitSearchedTxt)="SearchEvent($event)"></app-search-products>
    <app-filter-products class="filterproduct" [All]="returnAllProductcount()" [Mobile]="returnMobileCount()"
        [HeadPhone]="returnHeadPhoneCount()" [Powerbank]="returnPowerbankCount()"
        (filtertxt)="filteredtextevent($event)">
    </app-filter-products>

    <!-- <div class="">
        <app-nav-side class="navbar col-lg-2"></app-nav-side>
    </div> -->
    <div class="container productshow p-5 ">
        <div *ngFor="let product of Product" class="m-4">
            <ng-container *ngIf="filteredtxt === 'All'|| product.SubCategory.includes(filteredtxt)">
                <ng-container *ngIf="SearchedTxt === ' '|| product.SubCategory.toLowerCase().includes(SearchedTxt)">
                    <mat-card [ngStyle]="{backgroundColor: product.Status === 'Available'?'white':'#cbd9e7'}"
                        class="matcard">
                        <mat-card-content>
                            <div class="row p-3">
                                <div class="col-lg-4">
                                    <img src="{{product.ProductImage}}" class="imgesource">
                                    <div class="Prostatus"
                                        [ngStyle]="{color:product.Status==='Available'?'Green':'Red'}">
                                        <p class="d-flex justify-content-center"> {{product.Status}}</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <p><b> {{product.ProductName}}</b></p>
                                    <p>{{product.ProductDesc}}</p>
                                </div>
                                <mat-card-actions class="col">
                                    <p><b>Price: </b>{{product.Price | currency}}</p>
                                    <button class="btn btn-outline-warning"
                                        *ngIf="product.Status==='Available'else:notifyme"
                                        (click)="Addtocart(product)">Add
                                        to Cart</button>
                                    <ng-template #notifyme>
                                        <button class="btn btn-outline-danger" (click)="Notify(product)">Notify
                                            Me</button>
                                    </ng-template>
                                </mat-card-actions>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="footer">
        <app-fooder></app-fooder>
    </div>
</div>